@page "/maze"
@inject MazeGame.Services.PlayerState PlayerState
@inject MazeGame.Services.GridState GridState
@using MazeGame.Services
@rendermode InteractiveServer

<h3>Maze</h3>

<div>
    <p>Player Position: X = @PlayerState.PlayerX, Y = @PlayerState.PlayerY</p>
</div>

<Difficulty GridChanged="@SetGrid" />

@if(GridState.DifficultyChosen != MazeGame.Services.Difficulty.None)
{
    <Labyrinth Grid="GridState.Grid" PlayerX="PlayerState.PlayerX" PlayerY="PlayerState.PlayerY" Difficulty="GridState.DifficultyChosen" />
    <div class="controls">
        <div style="display: flex; justify-content: center;">
            <button class="control-button" style="order: 1;" @onclick="MoveUp">⬆️</button>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <button class="control-button" style="order: 2;" @onclick="MoveLeft">⬅️</button>
            <button class="control-button" style="order: 3;" @onclick="MoveRight">➡️</button>
        </div>
        <div style="display: flex; justify-content: center;">
            <button class="control-button" style="order: 4;" @onclick="MoveDown">⬇️</button>
        </div>
    </div>
}

@if (hasWon)
{
    <div class="victory-message controls">
        Hai vinto!
    </div>
    <button class="controls" @onclick="ResetGame">Reset</button>
}

<style>
    .control-button {
        width: 40px;
        height: 40px;
        font-size: 1.5em;
        border: none;
        background-color: #F5F5F5;
        color: #4A3F2D;
        cursor: pointer;
    }

    .controls {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid {
        display: grid;
        grid-template-rows: repeat(6, 30px);
        grid-template-columns: repeat(6, 30px);
    }

    .row {
        display: contents;
    }

    .cell {
        width: 30px;
        height: 30px;
        border: 1px solid black;
        box-sizing: border-box;
    }

    .wall {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: greenyellow;
        border: 1px solid #000;
    }

    .wall::before {
        content: "🌳";
        font-size: 1.5em;
    }

    .path {
        background-color: sandybrown;
    }

    .player {
        background-color: #4A3F2D;
        border: 3px solid #D4AF37;
        border-radius: 15px;
        padding: 15px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
        z-index: 1;
        font-family: 'Cinzel', serif;
        color: #F5F5F5;
        text-align: center;
        position: relative;
    }

    .player::before {
        content: "🛡️";
        font-size: 2em;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .player::after {
        content: "👑";
        font-size: 1.5em;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .victory-message {
        margin-top: 20px;
        font-size: 1.5em;
        color: green;
    }
</style>

@code {

    private bool hasWon = false;

    private void MoveUp()
    {
        if (PlayerState.PlayerX > 0 && GridState.Grid[PlayerState.PlayerX - 1, PlayerState.PlayerY] == 0)
        {
            PlayerState.PlayerX--;
            CheckVictory();
            StateHasChanged();
        }
    }

    private void MoveDown()
    {
        if (PlayerState.PlayerX < GridState.Grid.GetLength(0) - 1 && GridState.Grid[PlayerState.PlayerX + 1, PlayerState.PlayerY] == 0)
        {
            PlayerState.PlayerX++;
            CheckVictory();
            StateHasChanged();

        }
    }

    private void MoveLeft()
    {
        if (PlayerState.PlayerY > 0 && GridState.Grid[PlayerState.PlayerX, PlayerState.PlayerY - 1] == 0)
        {
            PlayerState.PlayerY--;
            CheckVictory();
            StateHasChanged();

        }
    }

    private void MoveRight()
    {
        if (PlayerState.PlayerY < GridState.Grid.GetLength(1) - 1 && GridState.Grid[PlayerState.PlayerX, PlayerState.PlayerY + 1] == 0)
        {
            PlayerState.PlayerY++;
            CheckVictory();
            StateHasChanged();

        }
    }

    private void CheckVictory()
    {
        if (IsVictory())
        {
            hasWon = true;
        }
    }

    private void ResetGame()
    {
        PlayerState.PlayerX = 1;
        PlayerState.PlayerY = 1;
        hasWon = false;
        StateHasChanged();

    }

    private void SetGrid(int[,] grid)
    {
        GridState.Grid = grid;
    }

    private bool IsVictory() => PlayerState.PlayerX == 5 || PlayerState.PlayerY == 5;
}
